@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*--------------------navigation bar----------------------------*/
#main {
  width: 100%;
  height: 100vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgb(0, 0, 0, 0.02);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
}

nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #585b5b;
  letter-spacing: 1px;
}

.hey {
  color: #131212;
  font-weight: 500;
  font-size: 0.9rem;
  border-bottom: 2px solid #303030;
}

nav ul li a:hover {
  background-color: #161616;
  color: #ffffff;
  box-shadow: 5px 10px 30px rgba(71, 71, 70, 0.3);
  transition: all ease 0.2;
}

/*----------------------about me---------------------------------*/

.model img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.model {
  width: 400px;
  height: 400px;
}

.aboutMe {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-text {
  width: 500px;
}

.main-text h1 {
  font-size: 3.5rem;
  color: #1c3548;
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}

.main-text p {
  color: #747474;
}

.main {
  width: 100%;
  height: 100vh;
}

/*----------------------study part------------------------------*/

#study {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: 350px;
  position: relative;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255, 0.5);
  flex-direction: column;
  color: white;
  clip-path: circle(0% at 50% 50%);
  transition: all 0.5s;
}

.box:hover .content {
  clip-path: circle(100% at 50% 50%);
}

.box:hover img {
  filter: blur(10px);
  transform: scale(1.1);
}

.content p {
  margin: 10px 0 0 15px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  text-justify: inter-word;
}

.study-heading span {
  color: #999999;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1, 1rem;
}

.study-heading h3 {
  color: #1c3548;
  font-size: 3rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: -100%;
}

/*----------------------hobby part-------------------------------*/

#hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  justify-content: center;
  justify-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-left: 25%;
  padding-right: 25%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hobby-heading span {
  color: #999999;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1, 1rem;
}
.hobby-heading h3 {
  color: #1c3548;
  font-size: 3rem;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
}

.hobby-heading p {
  color: #747474;
  margin-bottom: 15%;
}

nav .menu-btn,
.menu-icon {
  display: none;
}

/*----------------------social part-----------------------------*/

.fa {
  padding: 18px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 100%;
}

.fa:hover {
  transform: scale(1.1);
}

.fa-whatsapp {
  background: #000000;
  color: white;
}

.fa-google {
  background: #000000;
  color: white;
}

.fa-instagram {
  background: #000000;
  color: white;
}

.fa-telegram {
  background: #000000;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-gitlab {
  background: #000000;
  color: white;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 220px;
  width: 100%;
  background-color: rgba(41, 40, 40, 0.938);
  color: white;
}

.socialmedia-heading span {
  color: #999999;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1, 1rem;
  margin-left: 30px;
  height: 40px;
  line-height: 50px;
}

.footer p {
  text-align: center;
  opacity: 20%;
  font-weight: lighter;
  font-size: small;
  letter-spacing: 2px;
  margin-top: 50px;
}

/*------------------scrollbar--------------------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
